<div class="mal clear">
	<span><pre class="icon">Icon</pre><%= link_to league.name, league_path(league) %></span>
	<cite class="match"><%= link_to 'Start a new match', new_league_match_path(league) %></cite>
	<cite class="invite"><%= link_to 'Invite new players', new_league_invite_path(league) %></cite>
</div>



