<div class="clear">
	<span><%= link_to league.name, league_path(league) %></span>
	<cite class="newbie"><%= link_to 'New match', new_league_match_path(league) %></cite>
	<cite class="add_peeps"><%= link_to 'Invite Players', new_league_invite_path(league) %></cite>
</div>



