<h2><%= @league.name %></h2>
<%= link_to 'New match', new_league_match_path(@league) %>
<%= link_to 'Invite Players', new_league_invite_path(@league) if @league.member_of?(current_user) %>

<%= link_to 'Edit', edit_league_path(@league) if @league.owner?(current_user) %>