.formtastic {
	display: block;
	width: 100%;
}


.user label, .new_league label, .edit_league label, .session label, .invi label, .password label  {
	border: 0;
	margin-bottom: 10px;
	background: url(../images/gradients/chrome.gif) #eee repeat-x bottom left;
	width:38%;
	padding: 5px;
	padding-left: 10px;
	position: relative;
	left: -20px;
	top:-6px;
	z-index: 4;
	-moz-box-shadow:0 1px 1px #ddd;
	border: 1px solid #fff;
	font-size: 14px;
	color: #666;
	opacity:0.8;
}

label[for="league_description"] {
	top:-100px;
}

.user input, .new_league input, .new_league textarea, .edit_league input, 
.edit_league textarea, .session textarea, .session input, .invi input, .password input {
	border: 0;
	padding: 10px 10px 10px 20px;
	margin-bottom: 10px;
	color: #aaa;
	font-size: 18px;
	width:260px;
	background: #f1f1f1;
	border: 3px solid #fff;
}

.user textarea, .new_league textarea, .edit_league textarea, .session textarea {
	height: 180px;
	width: 300px;
}

.user .fieldset, .new_league fieldset, .edit_league fieldset , .session fieldset {
	float: right;
	clear: both;
}

#user_submit, #league_submit, #session_submit, .invi input[value="Send invites"], #password_submit {
	clear: both;
	background: url(../images/gradients/red.gif) #e45d0b repeat-x bottom left;
	border: 2px solid rgba(220,220,220,0.2);
	padding: 20px;
	color: #efefef;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px #333;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	margin-top: 10px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	-moz-box-shadow: 0px 3px 3px #333;
	-webkit-box-shadow: 0px 3px 3px #333;
}

.invi input[value="Send invites"] {
	float: right;
	clear: both;
}

#session_submit {
	margin-top: -10px;
	position: relative;
	padding: 10px;
}

.formtastic #user_submit:hover, .formtastic #user_submit:focus, .formtastic #user_submit:active, 
#league_submit:hover, #league_submit:focus, #league_submit:active, #session_submit:hover, #session_submit:active, #session_submit:focus,
.invi input[value="Send invites"]:hover, .invi input[value="Send invites"]:active, .invi input[value="Send invites"]:focus,
#password_submit:hover, #password_submit:focus, #password_submit:active {
	cursor: pointer;
	background-position: 10px 50px;
	-moz-box-shadow:none;
	-webit-box-shadow:none;
}

li#session_remember_me_input label {
	background: none;
	border: 0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	text-align: right;
	display: block;
	position: relative;
	left:220px;
	color: #333;
	font-size: 11px;
	vertical-align: middle;
}

li#session_remember_me_input input {
	background: none;
	border: 0;
	width:16px;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.doitlikebritney {
	clear: both;
	float: right;
}

.doitlikebritney li {
	display: inline;
	font-size: 12px;
	margin-left: 12px;
	border-left: 0;
}

.doitlikebritney li:last-child {
	border-left: 1px solid #ccc;
	padding-left:12px;
}

.doitlikebritney li a {
	opacity:0.7;
}


