<div class="clear generic">
	<% semantic_form_for @user do |form| %>
	  <%= form.error_messages %>
	  <%= render :partial => "/users/inputs", :locals => { :form => form } %>
	  <% form.buttons do %>
	    <%= form.commit_button "Save" %>
	  <% end %>
	<% end %>
</div>

<div class="clear generic">
<hr/>
	<h2 class="museo">Leagues</h2>
	<%= render :partial => @leagues %>
</div>