<% @subheader = "Profile for #{@user.name}" %>

<span class="newmatchup clear"><%= link_to 'Compare yourself with this dude', compare_user_path(@user) if signed_in? %></span>

<%= render :partial => "match", :collection => @matches, :locals => {:user => @user} %>