<div class="headit clear">
	<h4>Select players</h4>
<p>drag and drop team members to the pitch</p>
</div>
<div class="contain clear">
	<ul class="display_roster clear">
		<li><a href="#"><img src="images/avatars/1.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/2.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/3.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/4.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/1.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/2.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/3.jpg" alt="avatar"/></a></li>
		<li><a href="#"><img src="images/avatars/4.jpg" alt="avatar"/></a></li>
	</ul>
</div>
<div id="pitch">
	<a href="#" class="play_game">Play game</a>
</div>