<h1>Certificate</h1>

<%= "Congrats #{@match.winners.map(&:email).join(', ')}" %>

<%= "Bad luck #{@match.loosers.map(&:email).join(', ')}" %>

<%= link_to "Back to the League", league_path(@league) %>