<!DOCTYPE html>
<html lang="en-gb">

<title>Wuzlr, get wuzlin' baby</title>
<head profile="http://gmpg.org/xfn/11">

<!--Link basic styling for older browsers-->
<link href="/stylesheets/basic.css" rel="stylesheet" type="text/css" media="screen" />
    
<!--Link before import prevents Flash Of Unstyled Content in ie6pc -->
<style type="text/css">@import"/stylesheets/default.css"/**/;</style>

<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" media="screen" /><![endif]-->

<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" media="screen" /><![endif]-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.3/mootools-yui-compressed.js"></script>
<script type="text/javascript" src="/javascripts/mootools-1.2.3.1-more.js"></script>
<script type="text/javascript" src="/javascripts/sorting_table.js"></script>
<script type="text/javascript" src="/javascripts/paginating_table.js"></script>
<script type="text/javascript" src="/javascripts/swfobject.js"></script>
<script type="text/javascript" src="/javascripts/cufon-yui.js"></script>
<script type="text/javascript" src="/javascripts/museo.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>


</head>

<body class="homer">
<div class="pre_header">
	<div class="wrapper clear">
		<div class="p">
			<span><a href="#">Sign in</a> | <a href="#">Sign up</a> | <a href="#">Forgotten password</a></span>
		</div>
	</div>
</div>
<div id="header_home" class="clear">
	<div class="wrapper">
			<h1 class="logo_home g10"><span>Wuzlr</span></h1>
			<div class="g22">
				<h2 class="clear"><span>What is wuzler? Wuzler tracks your table football shiznee. Create leagues, track stats &amp; arrange matches
		wuzler does it all, with a cheeky smile</span></h2>
			<a href="#" class="hairylee">Sign me up guv</a>
			</div>
	</div>
</div>

<div id="shiznee">
	<div class="wrapper clear">
		<div class="g10">
			<h3>New players</h3>
			<ul>
				<% @users.each do |user| %>
					<li><%= link_to gravatar_for_with_default(user), user_path(user), :title => user.name %></li>
				<% end %>
			</ul>
		</div>
		<div class="g10 m1">
			<h3>New leagues</h3>
			<ul>
				<% @leagues.each do |league| %>
					<li><%= link_to league.name, league_path(league) %></li>
				<% end %>
			</ul>
		</div>
		<div class="g10 m1">
			<h3>Dedicated</h3>
			<ul>
				<% @dedicated.each do |user| %>
					<li><%= link_to gravatar_for_with_default(user), user_path(user), :title => user.name %><span class='games'><%= user.played %></span></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<div id="footer">
	<div class="wrapper clear">
		<div class="g6">
			<p>Built on caffine, sushi &amp; minimal kip within two english days, for railsrumble 2009. Lovingly rushed together by <a href="http://twitter.com/fatelvis">fat</a><a href="http://twitter.com/kernowsoul">ker</a><a href="http://twitter.com/theozaurus">sarus</a></p>
		</div>
		<div class="g25 m1">
			<a href="http://r09.railsrumble.com/teams"><img src="/images/banner.jpg" alt="vote for wuzlr, we'll hug you"/></a>
		</div>
	</div>
</div>

</body>
</html>